.img-logo{
    width: 150px;
    position: absolute;
    z-index: 10;
}

body{
    overflow-x: hidden;
}

main{
    background: no-repeat url(../images/backgroundNamukesei.svg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-top: 100px;
}

#buttonHamb{
    z-index: 10;
}

.dragon-ball, ol{
    cursor: pointer;
}

li:hover{
    background-color: aqua;
}

a{
    text-decoration: none;
}

/* Modals */

.modals{
    position: absolute;
    z-index: 15;
    width: 50%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal1,.modal2,.modal3,.modal4{
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal1{
    background-image: url(../images/gohan-ssj2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.modal2{
    background-image: url(../images/goku-freeza-lutando.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.modal3{
    background-image: url(../images/goku-vegeta-goha-goten-trunks-shenlong-buu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.modal4{
    background-image: url(../images/goku-ssj-blue-mais-goku-black-ssj-rose.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.modal4 h2{
    cursor: pointer;
}

h2{
    color: black;
}

.closeModal{
    z-index: 20;
    position: relative;
    left: 100%;
}

/* Imagem Goku */

.img-Goku{
    position: fixed;
    width: 20%;
    bottom: 0;
    cursor: pointer;
}

.text-progress{
    width: 90%;
}

/* Esferas do dragão */

.starDragon{
    width: 5%;
}

.starDragon1{
    position: absolute;
    top: 400px;
    right: 0;
    cursor: pointer;
    animation: sphere 5s 3s infinite;
}

.starDragon2{
    position: absolute;
    bottom: 0;
    right: 42%;
    cursor: pointer;
    animation: sphere 5s 2s infinite;
}

.starDragon3{
    position: absolute;
    top: 60%;
    left: 60%;
    cursor: pointer;
    animation: sphere 5s 5s infinite;
}

.starDragon4{
    position: absolute;
    top: 0;
    left: 70%;
    cursor: pointer;
    animation: sphere 5s 1s infinite;
}

.starDragon5{
    position: absolute;
    top: 68%;
    left: 35%;
    cursor: pointer;
    animation: sphere 5s 2s infinite;
}

.starDragon6{
    position: absolute;
    top: 30%;
    left: 0;
    cursor: pointer;
    animation: sphere 5s 3s infinite;
}

.starDragon7{
    position: absolute;
    top: 25%;
    left: 27%;
    cursor: pointer;
    animation: sphere 5s infinite;
}

/* Dragão Shenlong */

.Shenlong{
    position: absolute;
    top: 10%;
    right: 10%;
    width: 35vw;
    rotate: -35deg;
    z-index: 5;
    cursor: pointer;
}

/* Desejos */

.wishes-Gui{
    border-radius: 10%;
    padding: 15px;
}

.modal-wishes{
    position: absolute;
    width: 28%;
    left: 25%;
    top: 15%;
}

/* Footer */

footer{
    background-color: #df0028;
}

/* Animações nuvem */

.clouds,.clouds1,.clouds2,.clouds3,.clouds4,.cloudsCont,.clouds1Cont,.clouds2Cont,.clouds3Cont,.clouds4Cont{
    width: 30%;
    position: absolute;
    opacity: 0.4;
    animation: moveClouds 15s linear infinite;
}

.clouds1{
    top: 0;
    animation: moveClouds 6s linear infinite;
    opacity: 0.9;
}

.clouds2{
    bottom: 100px;
    animation: moveClouds 10s linear infinite;
    opacity: 0.9;
}

.clouds3{
    top: 150px;
    animation: moveClouds 10s linear infinite;
}

.clouds4{
    bottom: -100px;
    animation: moveClouds 7s linear infinite;
}

.clouds{
    bottom: 50px;
    animation: moveClouds 25s linear infinite;
    
}

.clouds1Cont{
    top: 100px;
    animation: moveClouds 27s linear infinite;
}

.clouds2Cont{
    bottom: 40%;
    animation: moveClouds 15s linear infinite;
}

.clouds3Cont{
    top: 35%;
    animation: moveClouds 20s linear infinite;
    opacity: 0.9;
}

.clouds4Cont{
    bottom: -350px;
    animation: moveClouds 5s linear infinite;
    opacity: 0.9;
}

.cloudsCont{
    top: 250px;
    animation: moveClouds 15s linear infinite;
    opacity: 0.9;
}

.bg-cloud{
    width: 100%;
    position: absolute;
    top: 200px;
}

@keyframes moveClouds{
    from{
        transform: translateX(-250px);
    }
    to{
        transform: translateX(100vw);
    }
}

/* Animação Esferas do dragão */

@keyframes sphere{
    0%{
        opacity: 1;
    }
    30%{
        opacity: 0.3;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.3;
    }
}

@keyframes sphereGather{
    from{
        transform: rotate(0deg) translate(100px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translate(100px) rotate(-360deg);
    }
}

@keyframes brigtness{
    0%{
        filter: drop-shadow(0 0 100px rgba(255,255,255,0.5)) drop-shadow(0 0 150px rgba(255,255,255,0.7)) drop-shadow(0 0 300px rgba(255,255,255,0.9));
    }
    50%{
        filter: drop-shadow(0 0 50px rgba(255,255,255,1)) drop-shadow(0 0 100px rgba(255,255,255,1)) drop-shadow(0 0 200px rgba(255,255,255,1));
    }
    100%{
        filter: drop-shadow(0 0 100px rgba(255,255,255,1)) drop-shadow(0 0 150px rgba(255,255,255,1)) drop-shadow(0 0 200px rgba(255,255,255,1));
    }
}

@keyframes appearShenlong{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0.3;
    }
    40%{
        opacity: 0;
    }
    60%{
        opacity: 1;
    }
    80%{
        opacity: 0.6;
    }
    100%{
        opacity: 1;
    }
}

.appearShenlong{
    animation: appearShenlong 2s forwards;
}

.brilho{
    animation: brigtness 1.5s infinite;
}